div {
    background-color: darkgray;
    width: 200px;
    height: 250px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
}

p {
    font-size: 18px;
    font-family: Verdana;
    color: white;
    margin-top: 5;
}

h1 {
    font-size: 35px;
    font-family: Verdana;
    color: coral;
    margin-bottom: 0;
}

img{
    width: 100%;
}
