.container {
    width: 80%;
    margin: auto;
}

.top {
    background-color: red;
    margin: auto;
    height: 80px;
}

.content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.left {
    background-color: green;
    height: 400px;
}

.right {
    background-color: blue;
    height: 400px;
}