.button {
    background-color: green;
    color: white;
    padding: 15px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

.grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}