#red-text {
    color: red;
}

.yellow{
    background-color: yellow;
}
img {
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5;
    margin-bottom: 0.5;
    background-color: blue;
}

li:nth-child(odd) {
    color: purple;
}